* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: aquamarine;
  height: 4rem;
  display: flex;
  align-items: center;
}

main {
  padding: 1rem;
}

.search {
  width: 100%;
  display: flex;
  gap: 0.2rem;
}

.search-input {
  width: 100%;
  border-radius: 0.5rem;
}

.search button {
  padding: 1rem;
  background-color: hotpink;
  border: none;
  border-radius: 15%;
}

.movies-container {
}
